
.main-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

h2, h3, h4 {
    text-align: center;
}

a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.form-container {
    display: flex;
    align-items: flex-end;
}

form {
    margin-top: 5vh;
}

label {
    display: block;
}

.link-container {
    display: block;
    padding: 10px;
    margin: 5px 0;
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &:hover {
        cursor: pointer;
    }
}

a {
    font-size: 20px;
}