$link-container-width: 340px;


.main-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

h2, h3, h4 {
    text-align: center;
}

h3 {
    margin: 25px 25px 0 25px;
}
h3.total-videos {
    border-bottom: solid black 1px;
    padding: 10px 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    max-width: 200px;
}
.reverse-videos-button {
    margin: 15px auto 0 auto;
    padding: 18px 20px 18px 20px;
    display: flex;
    align-items: center;

    &:hover {
        cursor: pointer;
    }
}

.quota-exceeded-msg {
    border: solid black 2px;
    border-radius: 10px;
    margin: 12%;
    padding: 3%;

    & h2,h3 {
        margin: 0;
    }
    & h3 {
        margin-top: 20px;
    }
    span {
        margin-top: 10px;
        display: block;
    }
}

a {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}


.form-container {
    display: flex;
    align-items: flex-end;
}

form {
    margin-top: 5vh;
}

label {
    display: block;
}
input {
    width: 200px;
    height: 25px;
    font-size: 14px;
}
button {
    height: 31px;
}

.link-container {
    display: block;
    padding: 10px;
    margin: 5px 0;
    width: $link-container-width;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & .video-title {
        max-width: $link-container-width;
    }

    & img {
        border-radius: 10px;
    }

    &:hover {
        cursor: pointer;
    }
}

.date {

    &.day {
        margin-top: 8px;
        margin-bottom: 0px;
    }
    &.time {
        margin-top: 2px;
    }
}



.test {
    position: absolute;
    top: 28%;
}