<ng-container *ngIf="finishedLoading">
  <h3 class="total-videos">Total videos: {{ totalVideos }}</h3>
  <h3>Select a video and it will open in a new tab or in your YouTube app.</h3>
</ng-container>

<h2 *ngIf="quotaExceeded">The application is currently down because the daily YouTube API calls quota has been exceeded. <br> <br> Please try again tomorrow.</h2>

<div class="main-container">

  <div *ngIf="loading" class="progress-bar-container">
    <h4>loading...</h4>
    <progress id="file" [value]="videos.length" [max]="totalVideos"></progress>
  </div>
  
  
  <div *ngIf="!hideForm" class="form-container">
    <form [formGroup]="form" (ngSubmit)="searchForChannel();">
      <label for="channel-search-input">Enter channel name:</label>
      <input id="channel-search-input" type="text" formControlName="channelSearchQuery" autofocus>
    </form>
    <button (click)="searchForChannel();">Search</button>
  </div>


  <div class="channel-container">
    <div *ngFor="let channel of channels" (click)="onChannelSelect(channel);" class="link-container">
      <h2>{{ channel.snippet.title }}</h2>
      <img [src]="channel.snippet.thumbnails.default.url" alt="channel thumbnail">
    </div>
  </div>

  
  <ng-container *ngIf="finishedLoading">
    <div *ngFor="let video of videos;" class="link-container">
      <a [href]="'http://www.youtube.com/watch?v=' + video.snippet.resourceId.videoId" target="_blank">
        <p class="video-title" [innerHTML]="video.snippet.title | ellipsis:35"></p>
        <img [src]="video.snippet.thumbnails.medium.url" alt="video thumbnail">
      </a>
      <p>Published: {{ video.snippet.publishedAt | date }}</p>
    </div>
  </ng-container>
  
</div>

